
bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/DiscordRPC\.dll\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/icon\.ico\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/Microsoft\.Web\.XmlTransform\.dll\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/Newtonsoft\.Json\.dll\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/NuGet\.Core\.dll\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/SUPLauncher\.exe\.config\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/SUPLauncher\.exe\.deploy

bin/Debug/app\.publish/Application Files/SUPLauncher_2_2_0_0/SUPLauncher\.exe\.manifest

bin/Debug/app\.publish/setup\.exe

bin/Debug/app\.publish/SUPLauncher\.application
